/* 打印页面 */
.main1 {
	width: 960px;
	margin: 0 auto;
	margin-top:20px;
	margin-bottom:10px;
	text-align: center;}
.main1 h2{
	display:inline;}
.main1 img{
	vertical-align:middle;
	margin-right:10px;}
.jump{ padding-top: 10px; color: #333;}
#back{ color:#2932E1; text-decoration:none;}


/* 打印页面 */
.mainTop{
	background-image:none;
	background:#F5F5F5;
	padding:10px 0;}
.mainTopContain{
	background-image:none;
	border:1px solid #E5E5E5;
	overflow: hidden;}
.myorder{
	float: left;
	border-right: 1px solid #dedede;
	height: 437px;}
.order{
	margin-top:10px;}
.order ul{
	margin-top:8px;}
.order h3{
	font-size:14px;
	padding-left:14px;}
.order li a{
	display:block;
	height:26px;
	width:132px;
	line-height:26px;
	text-align:center;
	margin-top:2px;
	}
.order li a:hover{
	color:#fff;
	background:#00B7EE;
	text-decoration:none;
	}
.docuLeft{ float:right; padding: 0 6px;}
.docuTop{ zoom:1; margin: 8px 0; width: 815px;}
.docuTop1{
	margin-top:12px;}
.docuTop:after{
	content:'';
	display:block;
	clear:both;}
.docuTop h2{
	float:left;
	margin-top:5px;
	margin-left:10px;
	font-size: 18px;}
#afile{
	width: 120px;
	height: 35px;
	display: block;
	float: left;
	padding: 0px;
	margin-bottom: 10px;}
#file{
	display: block;
	position: relative;
	left: 52px;
	top: -28px;
	width: 600px;}
#newfile{
	position:relative;
	z-index:99;}
#goprint{
	float:right;
	margin:10px 10px 0 0;
	width: 120px;
	height: 35px;
	background:#00B7EE;
	color:#fff;
	text-align:center;
	border-radius:3px;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
	border:none;
	cursor:pointer;}
#goprint:hover{
	background:#3BB3DB;}
	
#active{
	color:#fff;
	background:#00B7EE;}
.document{
	width: 815px;
	text-align:center;}
.document tr{
	height:36px;
	font-size:12px;}
tr.docuhead{
	height:46px;
	font-size:14px;
	color:#000;
	background: #eee;}
.even{
	background:#eee;}
.document th,.document td{
	border: 1px solid #ddd;}	
.document button{
	height: 24px;
	width: 26px;
	font-size: 18px;
	line-height: 6px;
	cursor:pointer;}	
.document select{
	background: #F5F5F5;
	height:25px;}	
.document input{
	height:25px;}
a.change{ color:#3898F8;}
input.address{
	width: 130px;
	text-align: center;
	border: none;
	background: transparent;}

/*管理密码*/
.psw{ margin-top:10px;}
#psubmit{
	width: 62px;
	--border: 1px solid #5399a8;
	color: #ffffff;
	background-color: #00B7EE;
	height: 28px;
	cursor: pointer;
	border-radius: 3px;
	border:none;
	margin-left: 80px;
	text-align: center;
	padding: 0;
	font-size: 14px;}
#psubmit:hover{
	background-color: #3BB3DB;}

/* footer */
.footer{
	border-top: 1px solid #e1e1e1;
	background: #dde2e5;}
.foot{
	height:60px;
	width: 960px;
	margin: 0 auto;
	padding-top:20px;
	text-align:center;}
.link span{
	padding: 0px 10px;}
.cprt{
	padding-top: 10px;
	color: #666;}